@import "0-tools/normalize";
@import "bower_components/susy/sass/susy";

$susy: (
  columns: 12,
  container: 60em,
  gutters: 1/2,
  math: fluid,
  output: float,
  gutter-position: inside,
  global-box-sizing: border-box,
);

@include border-box-sizing;

@import "1-base/fonts";
@import "1-base/variables";
@import "1-base/mixins";
@import "1-base/base";
@import "2-layout/layout";
@import "3-components/nav";
@import "3-components/intro";
@import "3-components/portfolio";
@import "3-components/exp";
@import "3-components/courses";
