.experience, .formation
  padding: 5em 0

  .jobs
    +span(6)

  h3, h4
    margin: 0
    color: $primary-color
    span
      color: $body-font-color

  h4
    text-transform: uppercase
    font-size: 0.8em
    color: $title-font-color

  p.date
    color: $grey-light
    font-size: 0.9em
    font-style: italic
    margin: 0 0 0.25em

  p
    margin: 0.25em 0 1.5em
    font-size: 0.9em
