.intro
  padding-top: 10em
  height: 100vh
  //background: url(../img/2015_logo-greyscale.png)
  @media(max-width: 768px)
    padding-top: 15em
  @media(max-width: 414px)
    padding-top: 5em

.logo
  padding: 2em

  img
    +img-responsive
    margin: 0 auto

.title
  display: block
  line-height: 1.2
  margin: 0 auto
  text-align: center

  h1
    font-size: 1.5em
    margin: 0
    color: $body-font-color


  h2
    font-size: 0.8em
    margin: 0
    color: $primary-color

.social
  ul
    margin: 0
    padding: 0
    list-style: none

    li
      display: inline-block

      a
        color: $grey-light
        display: block
        padding: 0.5em
        font-size: 2em
