.portfolio
  background: url(../img/portfolio.jpg) no-repeat
  background-size: cover
  @media(max-width: 768px)
    padding: 0 1em


  h2
    color: #fff

.showcase
  +clearfix
  position: relative
  @media(max-width: 1024px)
    width: 70%
    margin: 0 auto
  @media(max-width: 414px)
    padding: 1em

.showcase-img
  overflow: hidden
  img
    +img-responsive

.showcase-caption
  background: #fff
  width: 100%
  position: absolute
  bottom: 0
  padding: 10px 20px

  h3
    color: $title-font-color
    margin: 0
  p
    font-size: 0.8em
