.portfolio
  background: url(../img/portfolio.jpg) no-repeat
  background-size: cover
  padding: 10em 0

  h2
    color: #fff

.showcase
  +clearfix

.showcase-img
  +span(8)
  img
    +img-responsive

.showcase-caption
  +span(4)

  h3
    color: #fff
    margin: 0
  p
    font-size: 0.8em
    color: #ccc

.gallery
  +clearfix
  margin-top: 1em

  .work-item
    +span(2)

    img
      +img-responsive
